{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 class="centrer">BIENVENUE HUMAIN !</h1>

<figure class="centrer">
<img src="{{ asset('img/elan.png') }}" alt="Logo Elan">
</figure>

<div class="bold flex">
    <a href="{{ path('session_index') }}"><h2>Gestion des Sessions</h2></a>
    <a href="{{ path('stagiaire_index') }}"><h2>Gestion des Stagiaires</h2></a>
</div>

{% endblock %}
