{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>BIENVENUE HUMAIN !</h1>

<img src="{{ asset('img/elan.png') }}" alt="Logo Elan">

<div class="bold">
    <a href="{{ path('session_index') }}">Gestion des Sessions</a>
    <a href="{{ path('stagiaire_index') }}">Gestion des Stagiaires</a>
</div>

{% endblock %}
