body {
    background-color: #4c8c98 ;
    color: white;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

header{
    padding: 1em;
    background: rgba(0, 0, 0, 0.25);
}

nav a {
    font-size: 1.5em;
}

table{
    margin:auto;
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    padding: 0.5em 1em;
  }
  thead {
      background-color: #0099cc;
      color: white;
  }
  tbody{
      background-color: white;
      color:black;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  tbody tr:hover{
      background-color: #33add6;
      
  }

  div.bold a{
      margin:auto;
  }

  
  .bold {
      font-weight: bold;
  }
  .centrer{
      text-align: center;
  }
  .action{
      font-size: 2em;
      text-decoration: inherit;
      padding: 0 0.5em;
  }
  .margin{
      margin:auto;
  }

  section{
      max-width: 1000px;
      margin: auto;
      background-color: white;
      color: black;
      padding: 1em;
  }

  .flex{
    display: flex;
    
  }

  .homeButton{
    border: 3px dashed white;
    padding: 0.5em 1em;
    transition: 1s;
  }
  .homeButton:hover{
    border: 3px dashed black;
  }

  .boiteform{
      max-width: 190px;
      margin: auto;
  }

  .submit {
      background-color: black;
      color: white;
      padding: 0.5em 1em;
      border-radius: 7px;
  }

  form>div input, form>div select{
    margin:0.5em 0;
    padding: 0.25em;
  }

  form>div>div:last-of-type{
      margin-top: 1em;
      text-align: center;
  }

  .boiteStag{

        max-width: 300px;
        margin: auto;

  }

  .retour{
    color: #0099cc;
    font-weight: bold;
  }

.success{
    font-weight: bold;
    color:green;
    background: rgba(0, 128, 0, 0.2);
    padding: 0.5em;
    font-size:1.5em;
}

.error{
    font-weight: bold;
    color:red;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.5em;
    font-size:1.5em;
}