body {
    background-color: #4c8c98 ;
    color: white;
    font-size: 16px;
}

a {
    color: inherit;
}

header{
    padding: 1em;
    background: rgba(0, 0, 0, 0.25);
}

nav a {
    font-size: 1.5em;
}

table{
    margin:auto;
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    padding: 0.5em 1em;
  }
  thead {
      background-color: #0099cc;
  }
  tbody{
      background-color: white;
      color:black;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  tbody tr:hover{
      background-color: #33add6;
      
  }

  div.bold a{
      margin:auto;
  }

  
  .bold {
      font-weight: bold;
  }
  .centrer{
      text-align: center;
  }
  .action{
      font-size: 2em;
      text-decoration: inherit;
      padding: 0 0.5em;
  }
  .margin{
      margin:auto;
  }

  section{
      max-width: 1000px;
      margin: auto;
      background-color: white;
      color: black;
      padding: 1em;
  }

  .flex{
    display: flex;
    
  }