body {
    background-color: #4c8c98 ;
    color: white;
    font-size: 16px;
}
body, html{
    height:100%;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: inherit;
}
header, footer{
    padding: 1em;
    background: rgba(0, 0, 0, 0.25);
}
footer{
    padding:2em;
    background: rgba(0, 0, 0, 0.25);    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom:0;
    width: 100%;
    margin-top:-82.4px;
    /* position: relative;
    text-align: center; */
}
footer p{
    margin: 0;
    font-weight: bold;
}
.absolute{
    /* position: absolute;
    right: 1em;
    top:1em; */
    align-self: start;
}
figure{
    margin: 70px;
}


nav a {
    font-size: 1.5em;
}

table{
    margin:auto;
    border: 1px solid black;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 0.5em 1em;
  }
  thead {
      background-color: #0099cc;
      color: white;
  }
  tbody{
      background-color: white;
      color:black;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  tbody tr:hover{
      background-color: #33add6;
      
  }

  div.bold a{
      margin:auto;
  }

  
  .bold {
      font-weight: bold;
  }
  .centrer{
      text-align: center;
  }
  .action{
      font-size: 2em;
      text-decoration: inherit;
      padding: 0 0.5em;
  }
  .margin{
      margin:auto;
  }
  .main{
      display: flex;
      flex-direction: column;
      min-height:100%;
      margin: 0 auto;
      position: relative;
     padding-bottom:82.4px;
  }
  section{
      width: 1000px;
      height:100%;
      margin: auto;
      background-color: white;
      color: black;
      padding: 1em 1em 70px 1em ;
  }

  h1{
      padding-top: 70px;
  }

  .flex{
    display: flex;
    
  }

  .homeButton{
    border: 3px dashed white;
    padding: 0.5em 1em;
    transition: 1s;
  }
  img{
      width: 300px;
  }
  .homeButton:hover{
    border: 3px dashed black;
  }

  .boiteform{
      max-width: 180px;
      margin: auto;
  }

  .submit {
      background-color: black;
      color: white;
      padding: 0.5em 1em;
      border-radius: 7px;
  }

  form>div input, form>div select{
    margin:0.5em 0;
    padding: 0.25em;
  }

  form>div>div:last-of-type{
      margin-top: 1em;
      text-align: center;
  }

  .boiteStag{

        max-width: 300px;
        margin: auto;

  }

  .retour{
    color: #0099cc;
    font-weight: bold;
  }

.success{
    font-weight: bold;
    color:green;
    background: rgba(0, 128, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}

.error{
    font-weight: bold;
    color:red;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.5em;
    font-size:1.1em;
    text-align: center;
}

form ul li {
    color: red;
    list-style: none;
}
form ul{
    padding-left:0;

}
.mt4{
    margin-top: 4em; 
}

.showOne{
    margin: auto;
    margin-top: auto;
    border: 1px solid;
    max-width: 500px;
    padding: 0 0 2em 0;
    margin-top: 3em;

    background-color:#4c8c98;
    color:white;
    border-radius: 10px;
}
.showOne h1{
    padding-top: 0;
}