{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<a class="retour" href="{{ path('showOne_stagiaire', {'id':stagiaire.id}) }}">Retour</a>

<div class="example-wrapper">
    <h1 class="centrer">Ajouter une session au stagiaire {{ stagiaire.nom ~ ' ' ~ stagiaire.prenom  }}</h1>

    

    <div class="boiteform">
        {{ form(ajoutsessionform) }} 
    </div>


</div>
{% endblock %}
