{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

<a href="{{ path('stagiaire_index') }}">Retour</a>

<div>
    <h1 class="centrer">Ajouter un stagiaire</h1>

    
<div class="boiteform">
    {{ form(stagiaire_form) }}
</div>




</div>
{% endblock %}
