{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<a class="retour" href="{{ path('show_one_session', {'id':session.id}) }}">Retour</a>

<div class="example-wrapper">
    <h1 class="centrer" >Ajouter un module à la session {{ session.intitule }}</h1>

    

    <div class="boiteform">
        {{ form(ajoutmoduleform) }} 
    </div>


</div>
{% endblock %}
