{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<a  href="{{ path('session_index') }}">Retour</a>

<div class="example-wrapper">
    <h1 class="centrer" >Ajouter un stagiaire à la session {{ session.intitule }}</h1>

    

    <div class="boiteform">
        {{ form(ajoutstagiaireform) }} 
    </div>


</div>
{% endblock %}
