{% extends 'base.html.twig' %}

{% block title %}Créer/Modifier une session{% endblock %}

{% block body %}

<a class="retour" href="{{ path('session_index') }}">Retour</a>

<div class="example-wrapper">
    
    {% if 'session/new' in app.request.uri %}
    <h1 class="centrer">Créer une session</h1>
    {% elseif 'session/edit' in app.request.uri %}
        <h1 class="centrer">Modifier une session</h1>
    {% endif %}
    
 
    {% for message in app.flashes('success') %}
    <div class="success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="error">
        {{ message }}
    </div>
    {% endfor %}
        
    <div class="boiteform">
        {{ form(session_form) }}
    </div>



</div>
{% endblock %}
