{% extends 'base.html.twig' %}

{% block title %}Créer/Modifier une session{% endblock %}

{% block body %}

<a class="retour" href="{{ path('session_index') }}">Retour</a>

<div class="example-wrapper">
    <h1 class="centrer">Créer/Modifier une session</h1>

    {% for message in app.flashes('success') %}
    <div class="success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="error">
        {{ message }}
    </div>
    {% endfor %}
        
    <div class="boiteform">
        {{ form(session_form) }}
    </div>



</div>
{% endblock %}
